* {
    bg-col:  #000000;
    bg-col-light: #171c34;
    border-col: #ff79d6;
    selected-col: #962ac3;
    blue: #962ac3;
    fg-col: #dedede;
    fg-col2: #f8f8f2;
    grey: #565c64;
    width: 600;
}
